@import "fonts.css";

/* Colors
  Magenta #ec008c
  Light Gray #eee
  Translucent Black rgba(0, 0, 0, 0.5)
*/

body {
  background: #fff;
  /*color: #000;*/
  padding: 0;
  margin: 0;
}

h1 {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;

  /* Fonts */
  font: 120px/132px HUGEAvantGardeBold;
  /*letter-spacing: -0.03em;*/
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#hamburger {
  /*display: none;*/
  position: absolute;
  /*padding: 20px 24px;*/

  transform: translateX(-100%);
}

.navcontainer {
  position: absolute;
  width: 100%;
  height: 72px;
  top: 0;
  left: 0;
  margin:0;
  padding: 0;
  z-index: 9999999999;

  background: #ec008c;
}


#navbar {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}


.primary {
  padding: 12px 24px;

  color: #fff;
  font: 21px/48px HUGEAvantGardeBold;

  /* debug */
  /*border: 1px solid grey;*/

}

.primary:hover {
  background: #fff;
  color: #ec008c;
}

.primary:first-child:hover {
  background: #ec008c;
}

.secondary {
  padding: 12px;
  font: 16px/48px Galaxie;

}

.secondary:hover {
  background: #eee;
  color: #ec008c;
}

.navdropdown{
  position: absolute;
  margin-left: -24px;
  margin-top: 12px;
  padding: 0;

  background: white;
  color: black;

  /*transform:translateX(-1000%);*/
  transition:all .3s ease-in-out;

  /* debug */
   border: 1px solid black;
}


.logo {
  width: 60px;
  padding-right: 24px;
}

.logo img {
  width: 60px;
  vertical-align: middle;
}


#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 999;
 
  /* Start overlay as hidden */
  display: none;

  background: rgba(0,0,0,0.5);

}

#main-image {
  position: relative;
  width: 100%;
  height: 640px;
  margin-top: 72px;

  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-color: #eee;
  color: #FFFFFF;
}

.body-copy {
  width: 968px;
  margin: auto;
  margin-top: 60px;
  padding: 0;
  
  font: 24px/36px Galaxie;  
  letter-spacing: -0.03em;
  text-align: center;
}


/* Styles for mobile */
@media (max-width: 768px) {


}



