
@import 'fonts.css';

/* Colors
  Magenta #ec008c
  Light Gray #eee
  Translucent Black rgba(0, 0, 0, 0.5)
*/

body
{
  overflow: hidden;

  margin: 0;
  padding: 0;

  background: #fff;
}

h1
{
  position: relative;
  top: 0;
  left: 50%;

  width: 75%;
  margin: 0;
  padding: 50px 0;

  transform: translateX(-50%);
  text-align: center;

  color: #000;

  font: 44px/48px HUGEAvantGardeBold;
}

a
{
  text-decoration: none;

  color: inherit;
}

ul
{
  list-style-type: none;
}

#toggle-container
{
  position: absolute;

  width: 100%;
  height: 60px;

  background: #ec008c;
}

#toggle-open-close
{
  position: absolute;
  z-index: 100;
  right: calc(100% - 72px);

  width: 72px;
  height: 60px;

  -webkit-transition: 1s ease;
          transition: 1s ease;

  background-image: url('../images/toggle-open.svg');
  background-position: center;
  /*padding: 20px 24px;*/
}

#toggle-open-close.opened
{
  right: 0;

  background-image: url('../images/toggle-close.svg');
}

.navcontainer
{
  position: absolute;
  z-index: 9999999999;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#navbar
{
  top: 0;
  left: -100%;

  display:         flex;
  display: -webkit-flex;
          flex-direction: column;
  -webkit-flex-direction: column;

  width: 100%;
  height: 100%;
  margin: 0 0 0 -100%;
  padding: 0;

  transition: transform 1s ease;
  transform: translateX(0);
}

#navbar.visible
{
  transform: translateX(100%);
}

.primary
{
  margin-right: 72px;

  color: #000;
  background: #fff;

  font: 21px/48px HUGEAvantGardeBold;
}

.primary a
{
  padding: 0 24px;
}

/* Make background for logo magenta */
.primary:first-child
{
  background: #ec008c;
}

/* Keep background magenta for logo image */
.primary:first-child:hover
{
  background: #ec008c;
}

.primary:hover
{
  background: #eee;
}

.chevron
{
  position: absolute;
  right: 60px;

  margin-top: -6px;
  /*clip-path: inset(12px 12px 12px 12px);*/

  transition: all 1s ease;

  -webkit-clip-path: inset(12px 12px 12px 12px);
}

/* rotate chevron inside any open primary items */
.open > .chevron
{
  margin-top: -12px;

  transform: rotate(180deg);
}

.secondary
{
  /*padding: 12px;*/
  font: 16px/48px Galaxie;
}

.secondary:hover
{
  color: #ec008c;
  background: #eee;
}

.navdropdown
{
  position: relative;

  display: none;

  margin: 0;
  padding: 0;

  transition: all 1s ease;
  transform: translateY(-48px);

  color: black;
  background: white;
}

.navdropdown.expanded
{
  display: block;

  transform: translateY(0);
}

.logo
{
  width: 50px;
  height: 36px;
  padding: 12px 0;
}

.logo img
{
  width: 50px;

  vertical-align: baseline;
}


#overlay
{
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  /* Start overlay as hidden */

  display: none;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background: rgba(0,0,0,.5);
}

/* Class to make overlay visible*/
#overlay.visible
{
  display: block;
}

#midsection-container
{
  position: relative;

  width: 100%;
  height: auto;
  margin-top: 60px;
}

#content-wrapper
{
  transition: transform 1s ease;
}

#content-wrapper.pushed
{
  transform: translateX(calc(100% - 72px));
}

#main-image
{
  width: 100%;
  height: 240px;

  background-color: #eee;
  background-image: url('../images/background-image.jpg');
  background-size: auto 240px;
}

.body-copy
{
  position: relative;

  max-width: 968px;
  margin: auto;
  padding: 0 24px;

  text-align: center;

  font: 14px/24px Galaxie;
}

.body-copy p
{
  margin: 0;
}


#copyright
{
  position: relative;

  height: 100%;
  margin-right: 72px;

  background: #fff;

  font: 12px/16px 'HelveticaNeue-Regular', 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#copyright > div
{
  position: absolute;
  bottom: 0;

  padding: 12px 24px;
}

/* get rid of blue outline when elements are selected */
*:focus
{
  outline: none;
}

/* Styles for desktop */
@media (min-width: 769px)
{
  h1
  {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 0;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    color: #fff;

    font: 120px/132px HUGEAvantGardeBold;
  }

  #toggle-open-close
  {
    transform: translateX(-100%);
  }

  #toggle-container
  {
    display: none;
  }

  .navcontainer
  {
    height: 72px;

    background: #ec008c;
  }

  #navbar
  {
    display:         flex;
    display: -webkit-flex;
    display:    -moz-flex;
            flex-direction: row;
    -webkit-flex-direction: row;

    margin: 0;

    transition: none;
    transform: translateX(0);
  }

  #navbar.visible
  {
    transform: translateX(0);
  }

  .primary
  {
    margin-right: 0;
    padding: 12px 24px;

    color: #fff;
    background: inherit;
  }

  .primary > a
  {
    padding: 0;
  }

  .primary:hover,
  .primary.open
  {
    color: #ec008c;
    background: #fff;
  }

  .chevron
  {
    display: none;
  }

  .secondary
  {
    padding-right: 24px;
  }
  .navdropdown
  {
    position: absolute;

    margin-top: 12px;
    margin-left: -24px;
  }

  .logo
  {
    width: 60px;
    padding-right: 24px;
  }

  .logo img
  {
    width: 60px;

    vertical-align: middle;
  }

  #midsection-container
  {
    position: relative;

    width: 100%;
    height: 640px;
    margin-top: 72px;
  }

  #content-wrapper.pushed
  {
    transform: translateX(0);
  }

  #main-image
  {
    height: 100%;

    background-size: cover;
  }

  .body-copy
  {
    margin-top: 60px;

    letter-spacing: -.03em;

    font: 24px/36px Galaxie;
  }
  #copyright
  {
    display: none;
  }
}
