
@import 'fonts.css';

/* Colors
  Magenta #ec008c
  Light Gray #eee
  Translucent Black rgba(0, 0, 0, 0.5)
*/

body {
    position: relative;
    overflow-x: hidden;
    width:100vw;
    height:100vh;
    /*position: fixed;*/

    margin: 0;
    padding: 0;

    background: #fff;
}

h1 {
    position: relative;
    top: 0;
    left: 50%;

    width: 75%;
    margin: 0;
    padding: 50px 0;

    font: 44px/48px HUGEAvantGardeBold;
    text-align: center;

    color: #000;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

a {
    text-decoration: none;

    color: inherit;
}

ul {
    list-style-type: none;
}

header {
    background-color: #ec008c;
    height:60px;

    z-index: 9999999999;


}

#logo {
    float:left;
}

#toggle-container {
    /*position: absolute;*/

    /*width: 100%;*/
    height: 60px;
    width:100px;
    float:right;

    background: #ec008c;
}

#toggle-open-close {
    /*position: absolute;*/
    z-index: 100;
    /*right: calc(100% - 72px);*/

    position: absolute;
    left:0px;
    right: inherit;

    width: 72px;
    height: 60px;

    background-image: url('../images/toggle-open.svg');
    background-position: center;

    -webkit-transition:  1s ease;
            transition:  1s ease;
    /*padding: 20px 24px;*/
}

#toggle-open-close.opened {
transform:translateX(calc(100vw - 100%));
    /*right: 0px;
    left: inherit;*/
    background-image: url('../images/toggle-close.svg');
}

#navcontainer {
    position: absolute;
    z-index: 9999999999;


    background-color:#fff;

    top: 60px;
    /*left: 0;*/
    bottom: 0;

/*    overflow-y: auto;
*/
    width: calc(100% - 72px);
    left: calc(-100% + 72px);
    /*height: calc(100% - 60px);*/
    margin: 0;
    padding: 0;


    -webkit-transition: transform 1s ease;
            transition: transform 1s ease;
    -webkit-transform: translateX(0);
            transform: translateX(0);


}

#navcontainer.visible {
     -webkit-transform: translateX(100%);
        transform: translateX(100%);
    /*left:0;*/

}

.nav-inner {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;

    overflow-y: auto;

}

#navbar {
    /*position: absolute;*/
    width: 100%;
    padding:0;
    margin: 0;
    /*top: 0;
    bottom: 0px;
    padding-bottom:48px;*/
    padding-top: 12px;
    margin-bottom:48px;
    background-color:white;
    z-index: 1;
    position: relative;




   /* display: none;*/
    /*
    position: absolute;
    top: 0;
    left: calc(-100% + 72px);

    display: block;

    width: calc(100% - 72px);
    height: 100%;
    margin: 0;
    padding: 0;

    -webkit-transition: transform 1s ease;
            transition: transform 1s ease;
    -webkit-transform: translateX(0);
            transform: translateX(0);*/
}

#navbar.visible {
/*   
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
*/
}

.primary {
    /*margin-right: 72px;*/

    font: 21px/48px HUGEAvantGardeBold;

    color: #000;
    background: #fff;
}

.primary a {
    padding: 0 24px;
}

/* Make background for logo magenta */
/*.primary:first-child {
    background: #ec008c;
}*/

/* Keep background magenta for logo image */
/*.primary:first-child:hover {
    background: #ec008c;
}*/

.primary:hover {
    background: #eee;
}

.chevron {
    position: absolute;
    right: 0;

    margin-top: -6px;
    /*clip-path: inset(12px 12px 12px 12px);*/

    transition: all 1s ease;

    -webkit-clip-path: inset(12px 12px 12px 12px);
}

/* rotate chevron inside any open primary items */
.open > .chevron {
    margin-top: -12px;

    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.secondary {
    /*padding: 12px;*/
    font: 16px/48px Galaxie;
}

.secondary:hover {
    color: #ec008c;
    background: #eee;
}

.navdropdown {
    position: relative;

    display: none;

    margin: 0;
    padding: 0;

    color: #000;
    background: #fff;

    -webkit-transition: all 1s ease;
            transition: all 1s ease;
    -webkit-transform: translateY(-48px);
            transform: translateY(-48px);
}

.navdropdown.expanded {
    display: block;

    -webkit-transform: translateY(0);
            transform: translateY(0);
}

#logo {
    width: 50px;
    height: 36px;
    padding: 20px 24px;

    opacity:0;

    transition:opacity 1s ease-in-out;
}

#logo img {
    width: 50px;

    vertical-align: baseline;
}

#logo.visible {
    opacity:1;
}

#overlay {
    position: absolute;
    z-index: 999;
    left: -9999999px;
    top:-999999999px;
    /* Start overlay as hidden */

    /*display: none;*/

    width:0px;

    transition:opacity .5s ease-in-out;

    display: block;
    
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    opacity:0;

    background: rgba(0,0,0,.5);
}

/* Class to make overlay visible*/
#overlay.visible {
    width: 100%;
    top:60px;
    left:0;
    bottom:0;
    opacity:1;
}

#midsection-container {
    position: relative;

    width: 100%;
    height: auto;
}

#content-wrapper {
    -webkit-transition: transform 1s ease;
            transition: transform 1s ease;
}

#content-wrapper.pushed {
    -webkit-transform: translateX(calc(100% - 72px));
            transform: translateX(calc(100% - 72px));
}

#main-image {
    width: 100%;
    height: 240px;

    background-color: #eee;
    background-image: url('../images/background-image.jpg');
    background-size: auto 240px;
}

.body-copy {
    position: relative;

    max-width: 968px;
    margin: auto;
    padding: 0 24px 60px 24px;

    font: 14px/24px Galaxie;
    text-align: center;
}

.body-copy p {
    margin: 0;
}

/*#copyright-container {
    position: relative;
    height: 100%;
}*/

#copyright {
    position: absolute;
    height: 48px;
    box-sizing: border-box;

    bottom: 0;
    left: 0;
    padding:16px 24px 0px 24px;
    width: 100%;
    /*z-index: ;*/

    /*height: 100%;*/
    /*margin-right: 72px;*/

    font: 12px/16px 'HelveticaNeue-Regular', 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    background: #fff;
}



/* get rid of blue outline when elements are selected */
*:focus {
    outline: none;
}

/* Styles for desktop */
@media (min-width: 769px) {
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;

        padding: 0;

        font: 120px/132px HUGEAvantGardeBold;

        color: #fff;

        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    header {
        height: 72px;
    }

    #toggle-open-close {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }

    #toggle-container {
        display: none;
    }

    #navcontainer {
        height: 72px;
        left: 132px;
        top: 0;
        overflow: visible;

        background: #ec008c;
    }

    #navcontainer.visible {
     -webkit-transform: translateX(0);
        transform: translateX(0);

}

    .nav-inner {
        overflow: visible;
    }
    #navbar {
        display:         flex;
        display: -webkit-flex;
                flex-direction: row;
        -webkit-flex-direction: row;

        overflow: visible;

        margin: 0;
        padding-top: 0;
        padding-left: 0;
        bottom: inherit;
        background-color: transparent;

        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    #navbar.visible {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    .primary {
        margin-right: 0;
        padding: 12px 24px;

        color: #fff;
        background: inherit;
    }

    .primary > a {
        padding: 0;
    }

    .primary:hover,
    .primary.open {
        color: #ec008c;
        background: #fff;
    }

    .chevron {
        display: none;
    }

    .secondary {
        padding-right: 24px;
    }
    .navdropdown {
        position: absolute;

        margin-top: 12px;
        margin-left: -24px;
    }

    #logo {
        width: 60px;
        padding-right: 24px;
        opacity: 1;
    }

    #logo img {
        width: 60px;

        vertical-align: middle;
    }

    #overlay.visible{
        top: 72px;
    }


    #midsection-container {
        position: relative;

        width: 100%;
        height: 640px;

    }

    #content-wrapper.pushed {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    #main-image {
        height: 100%;

        background-size: cover;
    }

    .body-copy {
        margin-top: 60px;

        font: 24px/36px Galaxie;
        letter-spacing: -.03em;
    }
    #copyright {
        display: none;
    }
}
